html,
body {
	height: 100%;
	font-family: "Open-Sans-regular";
	font-size: 16px;

	@media (max-width: 1670px) {
		font-size: 14px;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	// display: none;
}

.main {
	flex: 1 0 auto;
	min-width: 1670px;
}
.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1750px;
	margin: 0 auto;
	padding: 0 15px;
	@media (max-width: 1670px) {
	}
	@media (max-width: 1520px) {
	}
	@media (max-width: 1220px) {
	}
	@media (max-width: 1024px) {
	}
	@media (max-width: 768px) {
	}
	@media (max-width: 480px) {
	}
}
